html body{
    margin: 0;padding: 0;
    background-image: url("../img/background.jpg");
    background-size: cover;
    font-family: arial;
}

.inner{
    width: 80%;
    margin: 0 0 0 20%;
}

.titre_page{
    position:relative;
    text-decoration: underline;
    text-align: center;
    font-size: 45px;
}

.titre_question{
    position:relative;
    font-size: 35px
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.idframe{
    text-align: center;
    margin: 30px;
}

.paragraphe_center{
    width: 90%;
    margin: auto;
    font-size: 20px;
    text-align: center;
}

.img_cars{
    margin: 25px;
    text-align: center;
    max-width: 30%;
    min-height: 0%;
}

