html body{
    margin: auto;
    background-image: url("../img/background.jpg");
    font-family: arial;
    position:absolute;
}

.inner{
    width: 80%;
    margin: 0 0 0 20%;
}

.titre_page{
    position:relative;
    text-decoration: underline;
    text-align: center;
    font-size: 45px;
}

.titre_question{
    position:relative;
    font-size: 35px
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.sommaire{
    position: relative;
    padding: 0 0 0 20%;
    text-align: left;
    font-size: 25px;
}
