html body{
    margin: 0;padding: 0;
    background-image: url("../img/background.jpg");
    background-size: 100% 100%;
    font-family: arial;
}

.inner{
    width: 80%;
    margin: 0 0 0 20%;
}

.titre_page{
    position:relative;
    text-decoration: underline;
    text-align: center;
    font-size: 45px;
}

.titre_question{
    position:relative;
    font-size: 35px
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.paragraphe_musk{
    text-align: justify;
    font-size: 25px;
}

.paragraphe_paypal{
    padding: 0 25% 0 3%;
    font-size: 25px;
    text-align: justify
}    

.img_musk{
    padding: 0 0 0 1%;
    max-width: 50%;
    max-height: 50%;
}

.img_paypal{
    padding: 0 0 0 5%;
    max-width: 95%;
    max-height: 95%;
}  

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/