html body{
    margin: 0;padding: 0;
    background-image: url("../img/background.jpg");
    background-size: 100% 100%;
    font-family: arial;
}

.inner{
    width: 80%;
    margin: 0 0 0 20%;
}

.titre_page{
    position:relative;
    text-decoration: underline;
    text-align: center;
    font-size: 45px;
}

.titre_question{
    position:relative;
    font-size: 35px
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

.paragraphe_center{
    width: 90%;
    margin: auto;
    font-size: 20px;
    text-align: center;  
}

.img_neuralink{
    margin: 25px;
    max-width: 30%;
    max-height: 30%;
}

.paragraphe_hyperloop{
    text-align: justify;
    font-size: 20px;
}

.img_hyperloop{
    padding: 0 0 0 1%;
    max-width: 50%;
    max-height: 50%;
}
