html body{
    margin: 0;padding: 0;
    background-image: url("../img/background.jpg");
    font-family: arial;
}

.inner{
    width: 80%;
    margin: auto;
}

.titre_page{
    position:relative;
    text-decoration: underline;
    text-align: center;
    font-size: 40px;}

.reponse_question{
    position: relative;
    padding: 0 0 0 20%;
    text-align: left;
    font-size: 25px;
}
.titre_question{
    position:relative;
}


img{
    padding: 0 0 0 5%;
    max-width: 50%;
    max-height: 50%;
}

/*----------------------------------------------------------------------------*/